.content {
    position: absolute;
    top: 10vh;
    right: 0;
    width: 75%;
    height: 90vh;
    background-color: #121212;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  