.new-releases{
    height: 65vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.album-container{
    display: flex;
    gap: 1rem;
    overflow-y: auto;
}
.album img{
    height: 25vh;
    width: 25vh;
    border-radius: 5%;
}
.album{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.album:hover{
    cursor: pointer;
    transform: scale(1.02);
}
