.hoverPointer:hover{
    cursor: pointer;
    transform: scale(1.02);
}

tr:hover{
    cursor: pointer;
}

.overflow-hidden::-webkit-scrollbar {
    display: none; 
}

@media(max-width:768px){
    .album{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 10rem;
    }
}